/* @import "tailwindcss";

@theme {
  --breakpoint-xs: 30rem;

  @keyframes accordion-down {
    0% {
      height: 0;
    }
    100% {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    0% {
      height: var(--radix-accordion-content-height);
    }
    100% {
      height: 0;
    }
  }

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
}
.slick-track {
  display: flex;

  .slick-slide {
    height: auto;
    display: flex;

    > div {
      display: flex;
    }
  }
} */

/* the slides */
/* .slick-slide {
  margin: 0 27px;
} */

/* the parent */
/* .slick-list {
  margin: 0 -27px;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;
